.c-window {
    position: absolute;
    background-color: white;
    border-radius: 8px;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
    overflow: hidden;
    z-index: 0;

    &:not([data-dragged="true"]) {
        transition: inset 0.3s ease-in-out;
    }

    &[data-dragged="true"] {
        &,
        & * {
            cursor: move;
        }
    }

    &--maximized {
        inset: 0 !important;
        border-radius: 0;
    }

    &--active {
        z-index: 1;

        .c-window__header {
            filter: none;
        }
    }

    &__header {
        filter: brightness(80%);
        display: flex;
        justify-content: space-between;
        box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.5);

        &,
        & * {
            --webkit-user-select: none;
            user-select: none;
            --webkit-tap-highlight-color: transparent;
        }

        &--dark {
            color: white;
        }
    }

    &__title {
        cursor: default;
        flex-grow: 1;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__controls {
        display: flex;
    }

    &__control {
        border: none;
        border-left: 1px solid;
        text-align: center;
        padding: 4px;
        transition: backdrop-filter 0.1s;
        background-color: transparent;
        color: inherit;

        &:hover {
            backdrop-filter: brightness(80%);
        }
    }
}
