@use "root";

html,
body {
  position: fixed;
  inset: 0;
  overflow: hidden;
  margin: 0;
  background-image: url("./assets/images/Mont_Blanc_depuis_Valmorel_2.jpg"); // Matthieu Riegler, CC-by, CC BY 3.0 <https://creativecommons.org/licenses/by/3.0>, via Wikimedia Commons
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  box-sizing: border-box;
  font-family: sans-serif;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

#root,
#mockos {
  height: 100%;
}

#mockos {
  display: flex;
  flex-direction: column;
}
